<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi musicali</title>
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

    <div id="root" class="container" v-if="dischi.length == 10">
        <h1>Seleziona il genere</h1>
        <select class="gen" v-model="valoreGenere">
            <option value="">Tutti i generi</option>
            <option v-for="genere in generi" :value="genere">{{ genere }}</option>
        </select>

        <div class="box-card" v-if="dischi.length">
            <div v-for="disco in dischi" class="card" v-if="disco.genre == valoreGenere || valoreGenere == ''">
                <img :src="disco.poster" alt="poster">
                <h3 class="titolo-disco">{{ disco.title }}</h3>
                <h4 class="nome-autore">{{ disco.author }}</h4>
                <h6 class="anno">{{ disco.year }}</h6>
            </div>
        </div>
    </div>

    <script src="vue/script.js"></script>
</body>
</html>